@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --background: white;
  --main-text: rgb(12, 12, 12);
  --link-text: #3a64b3;
  --table-header: white;
  --table-header-bg: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --main-text: #c2c3c7;
    --main-text: #c2c3c7;
    --link-text: #bbd2fc;
    --table-header: black;
    --table-header-bg: white;
  }
}

body {
  border: 0;
  padding: 1rem;
  font-size: 14px;
  font-family: "Open Sans", Arial, sans-serif;
  color: var(--main-text);
  background-color: var(--background);
}

.content h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

input {
  width: 6rem;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: center;
  border: black solid 1px;
}

form button {
  padding: 0.5rem;
  background-color: #0ea5e9;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 500ms;
}

.categoryseasoncounter {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  color: black;
}
.quantity {
  width: max-content;
  padding: 0.25rem;
}
.selected {
  font-weight: bold;
}
.l {
  background-color: rgb(231, 200, 32);
}
.e {
  background-color: rgb(219, 158, 28);
}
.ur {
  background-color: rgb(172, 0, 230);
}
.r {
  background-color: rgb(0, 142, 193);
}
.u {
  background-color: rgb(0, 170, 76);
}
.c {
  background-color: rgb(158, 158, 158);
}
.season1 {
  background-color: #ffa07a;
}
.season2 {
  background-color: #add8e6;
}
.season3 {
  background-color: #ffd700;
}
